/* GLOBAL */

* {
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

html {
    background-color: antiquewhite;
}

.container, .container-ingredient {
    max-width: 1000px;
    margin: 40px auto;
    padding: 25px;
}

.container-ingredient {
    background-color: white;
}

/* HOME HEADER */

.home-header {
    text-align: center;
    font-size: 60px;
    margin: 0 0 40px;
}

.home-header img {
    width: 100px;
    vertical-align: middle;
}

/* RECIPES LIST */

.recipes-list {
    border: 10px inset #8B5A2B;
}

.recipes-list h2 {
    text-align: center;
    font-size: 40px;
    margin: 0;
    padding: 10px;
}

.recipes-list ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
}

.recipes-list li {
    background-color: #8B5A2B;
    font-size: 30px;
    border: 2px solid black;
    text-align: center;
    padding: 10px;
    margin: 0 10px 10px;
}

.recipes-list li:hover {
    text-decoration: white underline;
    background-color: #815429;
}

/* INDIVIDUAL RECIPES HEADER*/

.ingredient-header {
    padding: 0px;
}

.ingredient-header h1 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 40px;
}

.ingredient-header img {
    width: 500px;
    display: block;
    margin: 0 auto;
}

/* INDIVIDUAL RECIPES DETAILS */

.description p, .ingredients li, .steps li {
    font-size: 18px;
}

.ingredients li{
    padding-bottom: 10px;
}

.steps li{
    padding-bottom: 10px;
}

/* HOMEPAGE BUTTON */

.button {
    display: inline-block;
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    margin-top: px;
}

.button:hover {
    background-color: rgb(240, 240, 240);
    text-decoration: underline;
}